[user]
	name = nm
	email = nagamocha@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[core]
	editor = vim
[color]
    status = always
[init]
	defaultBranch = master
[merge]
    tool = vimdiff
    conflictstyle = diff3
[difftool]
    prompt = false
[alias]
    lo = log --oneline
	lg = log --graph --format=\"%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)\"
    lp = log --pretty=format:\"%h - %an, %ar: %s\"
    lpp = log --pretty=format:\"%h - [%an,%ar][%cn,%cr]: %s\"
    unstage = restore --staged
    s = status
    ss = status -s
    last = log -1 HEAD
    visual = !gitk
