[user]
	name = nagamocha3000
	email = nagamocha@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[core]
	editor = vim
[color]
    status = always
[init]
	defaultBranch = main
[alias]
	ll = log --graph --format=\"%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)\"
